CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Visual Studio
.vs
out

# direnv
.direnv

# Ninja
.ninja_deps
.ninja_log
build.ninja

# Build output
rotate.so
result
